body {
    background-image: linear-gradient(orange, yellow);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
h1 {
    text-align: center;
    color: #3914af;
    font-size: 50px;
    text-shadow: 0px 20px 10px rgba(29, 115, 115, 0.38);
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.egor{
 color:black;
        

}
p4 {
text-align: center;
} 
.gallery {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 450px;
}
mark{
    color:red;
}
ul{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    
    
}

.link-info{
    background-image: linear-gradient(orange,yellow)

}

div {
    display: flex;
    justify-content: center;
}

div img {
    margin-left: 20px;
}
header {
    display: flex;
    justify-content: space-between;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}